

    <!--Contenu fiche de film-->

    <div class="card mb-3">
        <!--Titre du film-->
        <h3 class="card-header">{{film.original_title}}</h3>
        <!--Affiche du film -->
        <img src="https://image.tmdb.org/t/p/w500{{imgURL}}" alt="image">
        <div class="card-body">
            <!--Information du films-->
            <p class="card-text">Date de sortie du film : {{film.release_date}}</p>
            <p class="card-text">Tag : {{film.tagline}}</p>
            <p class="card-text">Production : {{compagnie}}</p>
            <p class="card-text">Synopsis : {{film.overview}}</p>
        </div>

    </div>

