

    <!--Première rangée de sortie de films-->


    <div class="card-group">
        <div class="row">
            {{#each films.results}}

            <div class="col-4">
                <div class="card">
                    <!--Image du film-->
                    <a href="/fiche_film/{{this.id}}">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <!--Info film : Titre + texte-->
                        <a href="/fiche_film/{{this.id}}">
                            <h5 class="card-title">{{this.original_title}}</h5>
                        </a>
                        <p class="card-text">{{this.overview}}</p>
                        <p class="card-text"><small class="text-muted">Date de sortie : {{this.release_date}}</small></p>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>

    </div>




